node_modules
dist
dist-ssr
*.local
types/auto-imports.d.ts
types/components.d.ts
.eslintcache
.stylelintcache
.prettiercache
*.log
test-results/
playwright-report/
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
